


.inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header{
    background-image: url(../imges/Hero-bg.png);
}


.nav{
    display: flex;
    justify-content: space-between;

}

.nav-title{
    padding: 50px 150px;
    color: #4E47FF;
    font-weight: bold;
    font-size: 35px;
}

.btn-manytimes{
    margin: 50px 150px;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 18px 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;

}

.banner{
    text-align: center;
    justify-content: center;
}


.btn-stay-focused{
    margin: 5px 750px;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 18px 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    display: block;
    margin-bottom: 100px;
}

.banner-title{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    padding: 0px 400px;

}


.first-section{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;
}

.action-title{
    margin: 5px 150px;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.action-description{
    margin: 5px 150px;
    font-size: 24px;
    color: #757575;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


.second-section{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 200px 250px;
    border-radius: 30px;
}


.users-title{
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}

.view{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;  
}

div ul li{
    list-style: none;
}

.view-type{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: #757575;
    padding-bottom: 50px;
}