


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.header{
    background-image: url(../imges/Hero-bg.png);
    padding-bottom: 20px;
}


.nav{
    display: flex;
    justify-content: space-between;

}

.nav-title{
    padding: 50px 150px;
    color: #4E47FF;
    font-weight: bold;
    font-size: 35px;
}

.btn-manytimes{
    display: block;
    margin: 50px 150px;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 18px 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;

}

.banner{
    text-align: center;
    justify-content: center;
}


.btn-stay-focused{
    display: block;
    margin: 5px 750px;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 18px 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.banner-title{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    padding: 0px 400px;

}


.first-section{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;
}

.action-title{
    margin: 5px 150px;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.action-description{
    margin: 5px 150px;
    font-size: 24px;
    color: #757575;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


.second-section{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 200px 250px;
    border-radius: 30px;
}


.users-title{
    text-align: center;
    padding: 50px 140px;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}

.view{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;  
}

div ul li{
    list-style: none;
}

.view-type{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: #757575;
    padding-bottom: 50px;
}

.third-section{
    margin: 20px 200px;
}


.big-card-title{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.card-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-bottom: 50px;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}

.card-content{
    font-size: 18px;
    color: #757575;
}

.review-container{
    display: flex;
    justify-content: space-around;
}

.review-title{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
}

.review-content{
    font-weight: 300;
    font-size: 14px;
    color: #B3B3B3;
}

.massege{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 100px;
    padding: 100px 230px;
}

.column-massege-title{
    font-weight: bold;
    font-size: 100px;
}

.massege-column{
    width: 50%;
}    

.input{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    border-color: #252432;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}  

.touch-me{
    width: 100%;
    height: 62px;
    display: block;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
}

.footer{
    margin-bottom: 100px;
}

.footer-logo{
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
}

.footer-decription{
    font-size: 20px;
    font-weight: bold;
    color: #8987A1;
    text-align: center;
    margin: 0px 400px;
}

.footer-link{
    text-align: center;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color:#8987A1;
    margin-right: 20px;
}